.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: rgba(86,189,181,1);
    border-color: rgba(86,189,181,1);
}

.page-link {
	color: rgba(86,189,181,1);
}

.web-gallery colgroup col:nth-child(1) {
	width: 5%;
}

.web-gallery colgroup col:nth-child(2) {
	width: 10%;
}

.web-gallery colgroup col:nth-child(4) {
	width: 10%;
}

.web-gallery colgroup col:nth-child(5) {
	width: 10%;
}

.web-gallery colgroup col:nth-child(6) {
	width: 10%;
}

.web-gallery thead tr {
	background-color: #d0e67c;
}	

.web-gallery tbody tr:nth-child(even) {
	background-color: #EFEFEF;
}

.web-gallery tbody tr td {
	vertical-align: middle;
}